<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xfl.pingguopai.dao.LoginSessionMapper">
  <resultMap id="BaseResultMap" type="com.xfl.pingguopai.model.LoginSession">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_token" jdbcType="VARCHAR" property="userToken" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
</mapper>